 
@{
    ViewData["Title"] = "Контакти";
}


<div class="hero-section hero-background">
        <h1 class="page-title"></h1>
    </div>

<div class="page-contain contact-us">

        <!-- Main content -->
        <div id="main-content" class="main-content ">
            

            <div class="container" style="display:flex; justify-content:center">

                <div class="row" style="display:flex; justify-content:center">

                    <!--Contact info-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="contact-info-container sm-margin-top-27px xs-margin-bottom-60px xs-margin-top-60px">
                            <h4 class="box-title">Нашите контакти</h4>
                            <p class="frst-desc">Ако имате въпроси относно продукти или услуги от наша страна, чувствайте се свободни да се свържете с нас.</p>
                            <ul class="addr-info">
                                <li>
                                    <div class="if-item">
                                        <b class="tie">Адрес:</b>
                                        <p class="dsc">ПМГ "Васил Друмев", Велико Търново, ул. В.Благоева 10</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="if-item">
                                        <b class="tie">Телефон:</b>
                                        <p class="dsc">+359 88 902 2044</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="if-item">
                                        <b class="tie">Email:</b>
                                        <p class="dsc">damyanov_04@abv.bg</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>