@model E_magazin.Data.Models.RestockProduct

@{
    ViewData["Title"] = "Зареди продукт";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="rowAsni">Зареди продукт</h2>

<div class="rowAsni">
    <div class="col-md-4">
        <form asp-action="RestockProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Продукт</label>
                <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Количество</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зареди" class="btn log-btn" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
