@{
    ViewData["Title"] = "Край на покупката";
}

<div class="hero-section hero-background">
    <h1 class="page-title">Завършихте покупката си<br />
        <a asp-area="" asp-action="Products" asp-controller="Product" style="color:white; font-size:20px;">Върни се при продуктите <span style="font-weight:bold; color:yellow">от тук</span></a>
        </h1>
</div>
    
